# CMake Related
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
QaulConfig.h
cmake/cmake_uninstall.cmake

# Build Folders
third_party/olsr/
third_party/pjsip/
third_party/socat/
third_party/wt/
build/
external/
